.gradBg {
  background: #CFE2F5;
  position: relative;
  overflow: hidden;
  &::before {
    background: #8cc3dd;
    border-radius: 50%;
    content: " ";
    position: absolute;
    left: calc(100% - 600px);
    bottom: -350px;
    height: 900px;
    width: 900px;
    z-index: 0;
  }
}
.gradHero {
    background: url(//static.aot.plus/images/beautiful-young-female-athlete-min.png) no-repeat;
    background-position: bottom right;
    background-size: 544px 587px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.spriteCircle {
  background: #86C5E0;
  border-radius: 82px;
  position: absolute;
  height: 127px;
  width: 127px;
  left: -67px;
  top: 170px;
  opacity: 0.5;
}