.sectionGradientBg {
    background: linear-gradient(104.86deg, #86C5E0 39.52%, #10ACEF 81.67%);
    border-left: 25px solid #5E9FBD;
    position: relative;
    min-height: 280px;
}
.sectionBgImage {
    background: url(//static.aot.plus/images/aot-mbp-min.png) no-repeat;
    background-size: contain;
    height: 600px;
    width: 600px;
}