.button.primary {
    background: $primary;
    border-radius: 200px;
    color: #fff;
    overflow: hidden;
    position: relative;
    min-width: 100px;
    span {
        padding: 8px 16px;
        display: block;
        position: relative;
    }

    &::before {
        background: $primary;
        content: " ";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 750ms;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

.k-button-group.bg-primary-light {
    .k-button {
        background: transparent;
    }
}