@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-book.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bookitalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-medium.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-mediumitalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bold.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bolditalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-black.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-blackitalic.woff) format('woff');
}
@font-face {
    font-family: 'Binary ITC';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Binary ITC'), url(https://static.aot.plus/fonts/BinaryITC-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Binary ITC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/binary-itc.ttf) format('ttf');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    src: url(https://static.aot.plus/fonts/Proxima%20Nova%20Light.otf) format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url(https://static.aot.plus/fonts/Proxima%20Nova%20Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url(https://static.aot.plus/fonts/Proxima%20Nova%20Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url(https://static.aot.plus/fonts/Proxima%20Nova%20Bold.otf) format('opentype');
}
.proxima {
    font-family: 'Proxima Nova';
}
.binary {
    font-family: 'Binary ITC', serif;
    font-weight: 400;
}
.circular-thin {
    font-family: 'Poppins', 'Circular', sans-serif;
    font-weight: 100;
}
.circular-extra-light {
    font-family: 'Poppins', 'Circular', sans-serif;
    font-weight: 200;
}
.circular {
    font-family: 'Circular', 'Poppins', sans-serif;
}