@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-book.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bookitalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-medium.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-mediumitalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bold.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-bolditalic.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-black.woff) format('woff');
}
@font-face {
    font-family: 'Circular';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(https://static.aot.plus/fonts/circular-blackitalic.woff) format('woff');
}