@import './fonts.scss';
@import './variables';
@import './colors.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@progress/kendo-theme-default/scss/input/index";
@import "~@progress/kendo-theme-default/scss/drawer/index";
@import "~@progress/kendo-theme-default/scss/appbar/index";
@import "~@progress/kendo-theme-default/scss/calendar/index";
@import "~@progress/kendo-theme-default/scss/dialog/index";
@import "~@progress/kendo-theme-default/scss/dropdowngrid/index";
@import "~@progress/kendo-theme-default/scss/dropdownlist/index";
@import "~@progress/kendo-theme-default/scss/dropdowntree/index";
@import "~@progress/kendo-theme-default/scss/scheduler/index";

@import './dashboard';

@import './buttons.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Circular", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-icon,
.logo-icon.k-icon {
  background-image: url(https://static.aot.plus/images/logo.svg);
  background-size: contain;
  display: block;
  margin: 0 4px;
  padding-top: 3px;
  width: 12rem;
  height: 42px;
  + .k-item-text {
    display: none;
  }
}

.k-drawer-expanded {
  .logo-icon.k-icon {
    background-position: center;
    margin: 0 auto;
  }
}
