
.spriteLeapingLady {
  background: url(//static.aot.plus/images/leaping-lady-min.png) no-repeat;
  background-position: center top;
  background-size: 456px 452px;
  display: inline-block;
  min-height: 452px;
  position: relative;
  width: 100%;
}