@import "~@progress/kendo-theme-default/scss/tabstrip";

ul.breadcrumbs {
    li + li::before {
        content: "\203A";
        display: inline-block;
        font-size: 1rem;
        line-height: 0.25rem;
        padding-right: 0.2rem;
    }
}
.k-tabstrip {
    .k-tabstrip-items-wrapper {
        background: rgba(0,0,0,0.05);
        padding: 0.75rem 40px 0;
        .k-tabstrip-items {
            .k-item {
                border-bottom: 2px solid transparent;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: .08em;
                padding: 0.5rem 0;
                text-transform: uppercase;

                + .k-item {
                    margin-left: 1rem;
                }

                .k-link {
                    border: none;
                    color: $primary;
                    padding: 0;
                }

                &.k-state-active {
                    background: none;
                    border: none;
                    border-bottom: 2px solid $secondary;
                    .k-link {
                        border-bottom: none;
                        color: $primary-600;
                    }
                }
            }
        }
    }

    .k-content {
        border: none;
        padding: 0;
    }
}